<section class="cart">
    <div class="content">
        <h3 class="product-title cart-title">Корзина</h3>
        <div class="cart-block-wrp">
            <div class="cart-block">
                <div class="cart-img-name-wrp">
                    <div class="cart-img-block">
                        <img src="../../build/img/item1.jpg" alt="очки">
                    </div>
                    <div class="cart-name-block">
                        <p class="cart-name cart-name-common">Очки для плавания</p>
                        <p class="cart-name cart-name-proper">Nimesis Crystal L</p>
                    </div>
                </div>
                <div class="cart-price-quantity-wrp">
                    <div class="cart-price-block">
                        <p class="cart-price-text">Цена</p>
                        <p class="cart-price-number">1400 руб</p>
                    </div>
                    <div class="quantity quantity-cart">
                        <div class="quantity-btn minus"><span></span></div>
                        <input type="text" placeholder="1" value="1" class="quantity-product-input">
                        <div class="quantity-btn plus"><span></span> </div>
                    </div>
                </div>
                <div class="cart-price-block-total">
                    <p class="cart-price-text">Итого</p>
                    <p class="cart-price-number total">1400 руб</p>
                </div>
                <div class="delete-block"></div>
            </div>
            <div class="cart-block">
                <div class="cart-img-name-wrp">
                    <div class="cart-img-block">
                        <img src="../../build/img/item1.jpg" alt="очки">
                    </div>
                    <div class="cart-name-block">
                        <p class="cart-name cart-name-common">Очки для плавания</p>
                        <p class="cart-name cart-name-proper">Nimesis Crystal L</p>
                    </div>
                </div>
                <div class="cart-price-quantity-wrp">
                    <div class="cart-price-block">
                        <p class="cart-price-text">Цена</p>
                        <p class="cart-price-number">1400 руб</p>
                    </div>
                    <div class="quantity quantity-cart">
                        <div class="quantity-btn minus"><span></span></div>
                        <input type="text" placeholder="1" value="1" class="quantity-product-input">
                        <div class="quantity-btn plus"><span></span> </div>
                    </div>
                </div>
                <div class="cart-price-block-total">
                    <p class="cart-price-text">Итого</p>
                    <p class="cart-price-number total">1400 руб</p>
                </div>
                <div class="delete-block"></div>
            </div>
            <div class="cart-block">
                <div class="cart-img-name-wrp">
                    <div class="cart-img-block">
                        <img src="../../build/img/item1.jpg" alt="очки">
                    </div>
                    <div class="cart-name-block">
                        <p class="cart-name cart-name-common">Очки для плавания</p>
                        <p class="cart-name cart-name-proper">Nimesis Crystal L</p>
                    </div>
                </div>
                <div class="cart-price-quantity-wrp">
                    <div class="cart-price-block">
                        <p class="cart-price-text">Цена</p>
                        <p class="cart-price-number">1400 руб</p>
                    </div>
                    <div class="quantity quantity-cart">
                        <div class="quantity-btn minus"><span></span></div>
                        <input type="text" placeholder="1" value="1" class="quantity-product-input">
                        <div class="quantity-btn plus"><span></span> </div>
                    </div>
                </div>
                <div class="cart-price-block-total">
                    <p class="cart-price-text">Итого</p>
                    <p class="cart-price-number total">1400 руб</p>
                </div>
                <div class="delete-block"></div>
            </div>
        </div>
        <div class="to-pay-block-wrp">
            <div class="to-pay-block">
                <p class="to-pay-text">К оплате:</p>
                <p class="to-pay-amount">4 200 <span>руб</span></p>
            </div>
            <button class="checkout-btn">Оформить заказ</button>
        </div>
    </div>



</section>
