<footer class="footer">
    <div class="content">
        <div class="footer-logo-wrp">
            <div class="footer-logo-block">
                <a href="#"><img src="../../build/img/logo.png" alt="logo"></a>
                <p>Cпортивный Клуб «ВМФ»</p>
            </div>
            <a class="contract" href="#"><span>Договор публичной оферты</span></a>
            <p>
                <a class="footer-mail" href="mailto:test@test.ru">Написать нам</a>
            </p>
        </div>
        <ul class="footer-nav-list">
            <li><a href="#">Бассейн</a></li>
            <li><a href="#">Единоборства</a></li>
            <li><a href="#">Танцы</a></li>
        </ul>
        <ul class="footer-nav-list">
            <li><a href="#">Галерея</a></li>
            <li><a href="#">Документы</a></li>
            <li><a href="#">Контакты</a></li>
        </ul>
        <ul class="footer-nav-list">
            <li><a href="#">О клубе</a></li>
            <li><a href="#">Наши тренеры</a></li>
            <li><a href="#">Новости</a></li>
        </ul>
        <div class="footer-contacts-block">
            <div class="top-wrp">
                <p class="footer-phone">8 (812) 409-90-21</p>
                <a href="tel:+388124099021" class="footer-phone">8 (812) 409-90-21</a>
                <p class="order-call-btn">Заказать звонок</p>
            </div>
            <ul class="soc-accs-wrp">
                <li class="insta"><a href="#"></a></li>
                <li class="fb"><a href="#"></a></li>
                <li class="youtube"><a href="#"></a></li>
                <li class="vk"><a href="#"></a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="content">
            <p><span>© Права защищены 2012 - 2019 |  СК «ВМФ»</span></p>
            <p><span>Разработано в</span> <a href="https://simplexx.agency/" target="_blank">Simplexx.Agency</a></p>
        </div>
    </div>
</footer>
