<section class="catalog">
    <div class="content">
        <h3 class="catalog-title">Магазин</h3>
        <div class="sidebar-catalog-wrp">
            <div class="sidebar-filter-accordian">
                <div class="sidebar-filter-block-wrp">
                    <h3 class="sidebar-filter-title">Детям</h3>
                    <ul class="sidebar-filter-list">
                        <li>
                            <label class="checkbox catalog-filter-checkbox">
                                <input type="checkbox" />
                                <div class="checkbox__text catalog-filter-checkbox-text"><span>Головные уборы</span></div>
                            </label>
                        </li>
                        <li>
                            <label class="checkbox catalog-filter-checkbox">
                                <input type="checkbox" />
                                <div class="checkbox__text catalog-filter-checkbox-text"><span>Для новорожденных</span></div>
                            </label>
                        </li>
                        <li>
                            <label class="checkbox catalog-filter-checkbox">
                                <input type="checkbox" />
                                <div class="checkbox__text catalog-filter-checkbox-text"><span>Очки для бассейна</span></div>
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="sidebar-filter-block-wrp">
                    <h3 class="sidebar-filter-title border-filter-top">По виду спорта</h3>
                    <ul class="sidebar-filter-list">
                        <li>
                            <label class="checkbox catalog-filter-checkbox">
                                <input type="checkbox" />
                                <div class="checkbox__text catalog-filter-checkbox-text"><span>Плаванье</span></div>
                            </label>
                        </li>
                        <li>
                            <label class="checkbox catalog-filter-checkbox">
                                <input type="checkbox" />
                                <div class="checkbox__text catalog-filter-checkbox-text"><span>Танцы</span></div>
                            </label>
                        </li>
                        <li>
                            <label class="checkbox catalog-filter-checkbox">
                                <input type="checkbox" />
                                <div class="checkbox__text catalog-filter-checkbox-text"><span>Спортивная гимнастика</span></div>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="catalog-btn-wrp">
                <div class="sort-btns-wrp">
                    <div class="sort-btns-desctop-wrp">
                        <button class="sort-btn-desctop active">По новизне</button>
                        <button class="sort-btn-desctop">Сначала дешевле</button>
                        <button class="sort-btn-desctop">Сначала дороже</button>
                    </div>
                    <div class="sort-filter-mobile-wrp">
                        <select class="select-sort" name="">
                            <option>По новизне</option>
                            <option>Сначала дешевле</option>
                            <option>Сначала дороже</option>
                        </select>
                        <button class="open-filter-pop-up">Фильтр</button>
                    </div>
                </div>
                <div class="catalog-wrp">
                    <a href="#" class="item-block item-block-catalog item-block-discount">
                        <div class="img-wrp">
                            <img src="../../build/img/item-color-1.jpg" alt="товар">
                        </div>
                        <div class="description">
                            <p class="sort">Очки для плавания</p>
                            <p class="name">Nimesis Crystal Large</p>
                        </div>
                        <div class="price">
                            <div class="price-content">
                                <span class="old-price">1400</span>
                                <span>1400</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="item-block item-block-catalog">
                        <div class="img-wrp">
                            <img src="../../build/img/item1.jpg" alt="товар">
                        </div>
                        <div class="description">
                            <p class="sort">Очки для плавания</p>
                            <p class="name">Nimesis Crystal Large</p>
                        </div>
                        <div class="price">
                            <div class="price-content">
                                <span class="old-price">1400</span>
                                <span>1400</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="item-block item-block-catalog">
                        <div class="img-wrp">
                            <img src="../../build/img/item-color-1.jpg" alt="товар">
                        </div>
                        <div class="description">
                            <p class="sort">Очки для плавания</p>
                            <p class="name">Nimesis Crystal Large</p>
                        </div>
                        <div class="price">
                            <div class="price-content">
                                <span class="old-price">1400</span>
                                <span>1400</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="item-block item-block-catalog item-block-discount">
                        <div class="img-wrp">
                            <img src="../../build/img/item1.jpg" alt="товар">
                        </div>
                        <div class="description">
                            <p class="sort">Очки для плавания</p>
                            <p class="name">Nimesis Crystal Large</p>
                        </div>
                        <div class="price">
                            <div class="price-content">
                                <span class="old-price">1400</span>
                                <span>1400</span>
                            </div>
                        </div>
                    </a>
                </div>
                <button class="catalog-show-more-btn">Показать еще товары</button>
            </div>
        </div>
    </div>
</section>
