<section class="cardProduct">
    <div class="product product-discount">
        <div class="content">
            <h3 class="product-title product-title-def product-title-mob">Очки для плавания</h3>
            <h3 class="product-title product-title-name product-title-mob">Nimesis Crystal Large</h3>

            <div class="price-avalaible-wrp-mob">
                <div class="product-price product-price-mob">
                    <p class="old-price">1 400 <span>руб</span></p>
                    <p class="new-price">900 <span>руб</span></p>
                </div>
                <p class="availability">В наличии</p>
            </div>

            <div class="product-img-block">
                <div class="product-img-main">
                    <div>
                        <div class="img-wrp">
                            <img src="../../build/img/item1-big.jpg" alt="очки">
                        </div>
                    </div>
                    <div>
                        <div class="img-wrp">
                            <img src="../../build/img/item1-big.jpg" alt="очки">
                        </div>
                    </div>
                    <div>
                        <div class="img-wrp">
                            <img src="../../build/img/item1-big.jpg" alt="очки">
                        </div>
                    </div>
                </div>
                <div class="product-img-prev">
                    <div>
                        <div class="img-wrp">
                            <img src="../../build/img/item1.jpg" alt="очки">
                        </div>
                    </div>
                    <div>
                        <div class="img-wrp">
                            <img src="../../build/img/item1.jpg" alt="очки">
                        </div>
                    </div>
                    <div>
                        <div class="img-wrp">
                            <img src="../../build/img/item1.jpg" alt="очки">
                        </div>
                    </div>
                    <div>
                        <div class="img-wrp">
                            <img src="../../build/img/item1.jpg" alt="очки">
                        </div>
                    </div>
                </div>
                <div class="prev-product-block"></div>
                <div class="next-product-block"></div>
            </div>
            <div class="product-description-block">
                <p class="availability availability-desctop">В наличии</p>
                <h3 class="product-title product-title-def product-title-desctop">Очки для плавания</h3>
                <h3 class="product-title product-title-name product-title-desctop">Nimesis Crystal Large</h3>
                <div class="description-text-wrp">
                    <div class="description-text-readmore">
                        <p class="description-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <p class="description-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </div>

                <div class="product-price price-desctop">
                    <p class="old-price">1 400 <span>руб</span></p>
                    <p class="new-price">900 <span>руб</span></p>
                </div>

                <div class="sizes-btn-wrp">
                    <div class="size-btn">
                        <span>S</span>
                    </div>
                    <div class="size-btn active">
                        <span>M</span>
                    </div>
                    <div class="size-btn">
                        <span>L</span>
                    </div>
                    <div class="size-btn XL">
                        <span>XL</span>
                    </div>
                    <div class="size-btn XXL">
                        <span>XXL</span>
                    </div>
                    <p class="table-sizes-btn">Таблица размеров</p>
                </div>
                <form class="order-collect" action="">
                    <div class="quantity-wrp">
                        <div class="quantity">
                            <div class="quantity-btn minus"><span></span></div>
                            <input type="text" placeholder="1" value="1" class="quantity-product-input">
                            <div class="quantity-btn plus"><span></span> </div>
                        </div>
                        <div class="to-cart-btn">
                            <span>В корзину</span>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <div class="same-products">
        <div class="content">
            <h4>Похожие товары</h4>
            <div class="same-products-slider-wrp">
                <div class="same-products-slider">
                    <div>
                        <a href="#" class="item-block item-block-discount">
                            <div class="img-wrp">
                                <img src="../../build/img/item-color-1.jpg" alt="товар">
                            </div>
                            <div class="description">
                                <p class="sort">Очки для плавания</p>
                                <p class="name">Nimesis Crystal Large</p>
                            </div>
                            <div class="price">
                                <div class="price-content">
                                    <span class="old-price">1400</span>
                                    <span>1400</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="#" class="item-block item-block-discount">
                            <div class="img-wrp">
                                <img src="../../build/img/item-color-1.jpg" alt="товар">
                            </div>
                            <div class="description">
                                <p class="sort">Очки для плавания</p>
                                <p class="name">Nimesis Crystal Large</p>
                            </div>
                            <div class="price">
                                <div class="price-content">
                                    <span class="old-price">1400</span>
                                    <span>1400</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="#" class="item-block">
                            <div class="img-wrp">
                                <img src="../../build/img/item1.jpg" alt="товар">
                            </div>
                            <div class="description">
                                <p class="sort">Очки для плавания</p>
                                <p class="name">Nimesis Crystal Large</p>
                            </div>
                            <div class="price">
                                <div class="price-content">
                                    <span class="old-price">1400</span>
                                    <span>1400</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="#" class="item-block item-block-discount">
                            <div class="img-wrp">
                                <img src="../../build/img/item1.jpg" alt="товар">
                            </div>
                            <div class="description">
                                <p class="sort">Очки для плавания</p>
                                <p class="name">Nimesis Crystal Large</p>
                            </div>
                            <div class="price">
                                <div class="price-content">
                                    <span class="old-price">1400</span>
                                    <span>1400</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="#" class="item-block">
                            <div class="img-wrp">
                                <img src="../../build/img/item1.jpg" alt="товар">
                            </div>
                            <div class="description">
                                <p class="sort">Очки для плавания</p>
                                <p class="name">Nimesis Crystal Large</p>
                            </div>
                            <div class="price">
                                <div class="price-content">
                                    <span class="old-price">1400</span>
                                    <span>1400</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="#" class="item-block">
                            <div class="img-wrp">
                                <img src="../../build/img/item1.jpg" alt="товар">
                            </div>
                            <div class="description">
                                <p class="sort">Очки для плавания</p>
                                <p class="name">Nimesis Crystal Large</p>
                            </div>
                            <div class="price">
                                <div class="price-content">
                                    <span class="old-price">1400</span>
                                    <span>1400</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="prev-same-products"></div>
                <div class="next-same-products"></div>
            </div>
        </div>
    </div>
</section>
