<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>VMF</title>
  <link rel="shortcut icon" type="image/png" href="../../build/img/favicon.png"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
   <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="../../build/css/bootstrap.css">
  <link rel="stylesheet" href="../../build/css/jquery.mCustomScrollbar.css">
  <link rel="stylesheet" href="../../build/css/selectize.css">
  <link rel="stylesheet" href="../../build/css/YouTubePopUp.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <link rel="stylesheet" href="../../build/css/style.css">
</head>
<body>
    <div class="app online-store">
        <div class="menu-wrapper">
            <!-- FileInjector:menu -->
        </div>
        <div class="header-wrapper">
            <!-- FileInjector:header -->
        </div>

        <div class="pages-wrapper">
            <!-- FileInjector:pagesContent -->
        </div>
        <div class="footer-wrapper">
            <!-- FileInjector:footer -->
        </div>
        <div class="pop-up-overlay-wrapper">
            <div class="overlay-pop-up"></div>
            <!-- FileInjector:popUp -->
        </div>
        <div class="pop-up-filter-wrp">
            <!-- FileInjector:popUpFilter -->
        </div>
        <div class="pop-up-table-sizes-wrp">
            <!-- FileInjector:popUpTable -->
        </div>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../../build/js/bootstrap.min.js"></script>
    <script src="../../build/js/jquery-ui.js"></script>
    <script src="../../build/js/jquery.cookie.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=071f900c-e329-4526-ab49-991f1325aa21&lang=ru_RU&coordorder=longlat" type="text/javascript"></script>
    <script src="../../build/js/jquery.maskedinput.min.js"></script>
    <script src="../../build/js/selectize.min.js"></script>
    <script src="../../build/js/selectize.js"></script>
    <script src="../../build/js/YouTubePopUp.jquery.js"></script>
    <script src="../../build/js/jquery.floatit.js"></script>
    <script src="../../build/js/jquery.mCustomScrollbar.min.js"></script>
    <script src="https://unpkg.com/vh-check/dist/vh-check.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="../../build/js/form.js"></script>
    <script src="../../build/js/readmore.js"></script>
    <script src="../../build/js/main.js"></script>
    <script src="../../build/js/data_load_jquery.js"></script>
    <!-- <script src="../../build/js/scriptValid2.js"></script> -->
</body>
</html>
