<section class="newsArchive">
    <div class="decor-top-img">
        <h3>Новости</h3>
        <h6>Последние новости и важные события СК «ВМФ»</h6>
    </div>
    <div class="content">
        <div class="news-blocks-wrp">
            <a href="#" class="news-block">
                <div class="news-block-img">
                    <img src="../../build/img/new1.jpg" alt="">
                </div>
                <div class="news-block-descr">
                    <p class="news-block-data">5 марта, 2019</p>
                    <p class="news-block-title">Соревнования по водному поло 03.02, 10.02, 17.02 и 24.02</p>
                    <p class="news-block-text">Соревнования по водному поло Уважаемые Спортсмены Спортивного Клуба ВМФ Обращаем Ваше внимание что, 03.02, 10.02, 17.02, 24.02 в 19.15 будут проходить Соревнования по водному поло</p>
                </div>
                <p class="show-more">
                    <span>Подробнее</span>
                </p>
            </a>
            <a href="#" class="news-block">
                <div class="news-block-img">
                    <img src="../../build/img/new2.jpg" alt="">
                </div>
                <div class="news-block-descr">
                    <p class="news-block-data">5 марта, 2019</p>
                    <p class="news-block-title">График работы бассейнов в праздничные дни</p>
                    <p class="news-block-text">Соревнования по водному поло Уважаемые Спортсмены Спортивного Клуба ВМФ Обращаем Ваше внимание что, 03.02, 10.02, 17.02, 24.02 в 19.15 будут проходить Соревнования по водному поло</p>
                </div>
                <p class="show-more">
                    <span>Подробнее</span>
                </p>
            </a>
            <a href="#" class="news-block">
                <div class="news-block-img">
                    <img src="../../build/img/new3.jpg" alt="">
                </div>
                <div class="news-block-descr">
                    <p class="news-block-data">5 марта, 2019</p>
                    <p class="news-block-title">Результаты предновогоднего турнира по водному поло</p>
                    <p class="news-block-text">Соревнования по водному поло Уважаемые Спортсмены Спортивного Клуба ВМФ Обращаем Ваше внимание что, 03.02, 10.02, 17.02, 24.02 в 19.15 будут проходить Соревнования по водному поло</p>
                </div>
                <p class="show-more">
                    <span>Подробнее</span>
                </p>
            </a>
            <a href="#" class="news-block">
                <div class="news-block-img">
                    <img src="../../build/img/new4.jpg" alt="">
                </div>
                <div class="news-block-descr">
                    <p class="news-block-data">5 марта, 2019</p>
                    <p class="news-block-title">Предновогодний турнир по водному поло</p>
                    <p class="news-block-text">Соревнования по водному поло Уважаемые Спортсмены Спортивного Клуба ВМФ Обращаем Ваше внимание что, 03.02, 10.02, 17.02, 24.02 в 19.15 будут проходить Соревнования по водному поло</p>
                </div>
                <p class="show-more">
                    <span>Подробнее</span>
                </p>
            </a>
            <a href="#" class="news-block">
                <div class="news-block-img">
                    <img src="../../build/img/new5.jpg" alt="">
                </div>
                <div class="news-block-descr">
                    <p class="news-block-data">5 марта, 2019</p>
                    <p class="news-block-title">Фотосессия в бассейне СКА</p>
                    <p class="news-block-text">Соревнования по водному поло Уважаемые Спортсмены Спортивного Клуба ВМФ Обращаем Ваше внимание что, 03.02, 10.02, 17.02, 24.02 в 19.15 будут проходить Соревнования по водному поло</p>
                </div>
                <p class="show-more">
                    <span>Подробнее</span>
                </p>
            </a>
            <a href="#" class="news-block">
                <div class="news-block-img">
                    <img src="../../build/img/new6.jpg" alt="">
                </div>
                <div class="news-block-descr">
                    <p class="news-block-data">5 марта, 2019</p>
                    <p class="news-block-title">День рождения Чумакова Алексея Юрьевича</p>
                    <p class="news-block-text">Соревнования по водному поло Уважаемые Спортсмены Спортивного Клуба ВМФ Обращаем Ваше внимание что, 03.02, 10.02, 17.02, 24.02 в 19.15 будут проходить Соревнования по водному поло</p>
                </div>
                <p class="show-more">
                    <span>Подробнее</span>
                </p>
            </a>
            <a href="#" class="news-block">
                <div class="news-block-img">
                    <img src="../../build/img/new4.jpg" alt="">
                </div>
                <div class="news-block-descr">
                    <p class="news-block-data">5 марта, 2019</p>
                    <p class="news-block-title">Предновогодний турнир по водному поло</p>
                    <p class="news-block-text">Соревнования по водному поло Уважаемые Спортсмены Спортивного Клуба ВМФ Обращаем Ваше внимание что, 03.02, 10.02, 17.02, 24.02 в 19.15 будут проходить Соревнования по водному поло</p>
                </div>
                <p class="show-more">
                    <span>Подробнее</span>
                </p>
            </a>
            <a href="#" class="news-block">
                <div class="news-block-img">
                    <img src="../../build/img/new5.jpg" alt="">
                </div>
                <div class="news-block-descr">
                    <p class="news-block-data">5 марта, 2019</p>
                    <p class="news-block-title">Фотосессия в бассейне СКА</p>
                    <p class="news-block-text">Соревнования по водному поло Уважаемые Спортсмены Спортивного Клуба ВМФ Обращаем Ваше внимание что, 03.02, 10.02, 17.02, 24.02 в 19.15 будут проходить Соревнования по водному поло</p>
                </div>
                <p class="show-more">
                    <span>Подробнее</span>
                </p>
            </a>
            <a href="#" class="news-block">
                <div class="news-block-img">
                    <img src="../../build/img/new6.jpg" alt="">
                </div>
                <div class="news-block-descr">
                    <p class="news-block-data">5 марта, 2019</p>
                    <p class="news-block-title">День рождения Чумакова Алексея Юрьевича</p>
                    <p class="news-block-text">Соревнования по водному поло Уважаемые Спортсмены Спортивного Клуба ВМФ Обращаем Ваше внимание что, 03.02, 10.02, 17.02, 24.02 в 19.15 будут проходить Соревнования по водному поло</p>
                </div>
                <p class="show-more">
                    <span>Подробнее</span>
                </p>
            </a>
        </div>
        <div class="show-all-news"><span>Показать все</span></div>
    </div>
</section>
