<main>
    <section class="main-section">
        <div class="block block-blue"></div>
        <div class="block block-photo"></div>
        <div class="text-overlay">
            <div class="content">
                <h1>Спортивный <br> клуб «ВМФ»</h1>
                <h5>Занятия спортом для детей и&nbsp;взрослых</h5>
            </div>
        </div>
    </section>
    <section class="main-section-mob">
        <img class="logo-mob" src="../../build/img/logo-mob.jpg" alt="logo">
        <h1>Спортивный <br> клуб «ВМФ»</h1>
        <h5>Занятия спортом для детей и&nbsp;взрослых</h5>
        <div class="content">
            <img class="main-mob" src="../../build/img/main-mob.jpg" alt="logo">
        </div>
    </section>
    <section class="summary">
        <div class="content">
            <div class="summary-chapter">
                <img src="../../build/img/boy.png" alt="мальчик">
                <div class="text-wrp">
                    <p class="summary-title">Занятия от 3-х лет</p>
                    <p class="summary-text">Развивающие и&nbsp;под&shy;готовительные методики</p>
                </div>
            </div>
            <div class="summary-chapter">
                <img src="../../build/img/ball.png" alt="мяч">
                <div class="text-wrp">
                    <p class="summary-title">Игровой метод</p>
                    <p class="summary-text">Формирует у детей <br> интерес к занятию спортом</p>
                </div>
            </div>
            <div class="summary-chapter">
                <img src="../../build/img/prize.png" alt="приз">
                <div class="text-wrp">
                    <p class="summary-title">Регулярные соревнования</p>
                    <p class="summary-text">Присвоение разрядов, видео- <br>и фотоотчеты</p>
                </div>
            </div>
            <div class="summary-chapter">
                <img src="../../build/img/sun.png" alt="солнце">
                <div class="text-wrp">
                    <p class="summary-title">Спортивные лагеря</p>
                    <p class="summary-text">Организация летних <br>и зимних каникул</p>
                </div>
            </div>
        </div>
    </section>
    <div class="gradient-wrp">
        <section class="sections">
            <h4>Наши секции</h4>
            <div class="content">
                <div class="sections-wrp">
                    <a href="#" class="section-block">
                        <img src="../../build/img/pool.jpg" alt="">
                        <div class="gradient"></div>
                        <div class="hover"></div>
                        <p class="section-title">Бассейн</p>
                    </a>
                    <a href="#" class="section-block">
                        <img src="../../build/img/combat.jpg" alt="">
                        <div class="gradient"></div>
                        <div class="hover"></div>
                        <p class="section-title">Единоборства</p>
                    </a>
                    <a href="#" class="section-block">
                        <img src="../../build/img/dance.jpg" alt="">
                        <div class="gradient"></div>
                        <div class="hover"></div>
                        <p class="section-title">Детские танцы</p>
                    </a>
                    <a href="#" class="section-block">
                        <img src="../../build/img/gymnastic.jpg" alt="">
                        <div class="gradient"></div>
                        <div class="hover"></div>
                        <p class="section-title">Художественная гимнастика</p>
                    </a>
                </div>
                <a href="#" class="btn">
                    <span>Смотреть все секции</span>
                </a>
            </div>
        </section>
        <section class="camps">
            <h4>Спортивные лагеря</h4>
            <div class="camps-block-wrp">
                <a href="#" class="camp-block">
                    <div class="color">
                        <div class="text-block">
                            <p class="camp-title">«Росица-Обзор»</p>
                            <p class="camp-text">Болгария, Обзор</p>
                        </div>
                    </div>
                    <picture>
                         <source srcset="../../build/img/camp1-mob.jpg" media="(max-width: 637px)">
                        <img src="../../build/img/camp1.jpg" alt="Болгария, Обзор">
                    </picture>
                </a>
                <a href="#" class="camp-block">
                    <div class="color">
                        <div class="text-block">
                            <p class="camp-title">«Стар Клаб»</p>
                            <p class="camp-text">Болгария, Солнечный берег</p>
                        </div>
                    </div>
                    <picture>
                         <source srcset="../../build/img/camp2-mob.jpg" media="(max-width: 637px)">
                        <img src="../../build/img/camp2.jpg" alt="Болгария, Солнечный берег">
                    </picture>
                </a>
                <a href="#" class="camp-block">
                    <div class="color">
                        <div class="text-block">
                            <p class="camp-title">«Пирита Топ SPA»</p>
                            <p class="camp-text">Эстония, Таллин</p>
                        </div>
                    </div>
                    <picture>
                         <source srcset="../../build/img/camp3-mob.jpg" media="(max-width: 637px)">
                        <img src="../../build/img/camp3.jpg" alt="Эстония, Таллин">
                    </picture>
                </a>
                <a href="#" class="camp-block">
                    <div class="color">
                        <div class="text-block">
                            <p class="camp-title">«Beach Club»</p>
                            <p class="camp-text">Кипр, Фамагуста</p>
                        </div>
                    </div>
                    <picture>
                         <source srcset="../../build/img/camp4-mob.jpg" media="(max-width: 637px)">
                        <img src="../../build/img/camp4.jpg" alt="Кипр, Фамагуста">
                    </picture>
                </a>
            </div>
            <a href="#" class="btn">
                <span>Смотреть все Лагеря</span>
            </a>
        </section>
        <section class="shop">
            <h4>Магазин официальной атрибутики</h4>
            <div class="content">
                <div class="items-wrp">
                    <a href="#" class="item-block item-block-discount">
                        <div class="img-wrp">
                            <img src="../../build/img/item-color-1.jpg" alt="товар">
                        </div>
                        <div class="description">
                            <p class="sort">Очки для плавания</p>
                            <p class="name">Nimesis Crystal Large</p>
                        </div>
                        <div class="price">
                            <div class="price-content">
                                <span class="old-price">1400</span>
                                <span>1400</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="item-block">
                        <div class="img-wrp">
                            <img src="../../build/img/item-color-1.jpg" alt="товар">
                        </div>
                        <div class="description">
                            <p class="sort">Очки для плавания</p>
                            <p class="name">Nimesis Crystal Large</p>
                        </div>
                        <div class="price">
                            <div class="price-content">
                                <span class="old-price">1400</span>
                                <span>1400</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="item-block item-block-discount">
                        <div class="img-wrp">
                            <img src="../../build/img/item-color-1.jpg" alt="товар">
                        </div>
                        <div class="description">
                            <p class="sort">Очки для плавания</p>
                            <p class="name">Nimesis Crystal Large</p>
                        </div>
                        <div class="price">
                            <div class="price-content">
                                <span class="old-price">1400</span>
                                <span>1400</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="item-block">
                        <div class="img-wrp">
                            <img src="../../build/img/item-color-1.jpg" alt="товар">
                        </div>
                        <div class="description">
                            <p class="sort">Очки для плавания</p>
                            <p class="name">Nimesis Crystal Large</p>
                        </div>
                        <div class="price">
                            <div class="price-content">
                                <span class="old-price">1400</span>
                                <span>1400</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <a href="#" class="btn">
                <span>Перейти в магазин</span>
            </a>
        </section>
    </div>


    <section class="video-slider-block">
        <h4>Видео отзывы</h4>

        <div class="slider-wrp">
            <div class="prev"></div>
            <div class="slider">
                <div>
                    <a class="video-popup" href="https://www.youtube.com/watch?v=L5s0ERQt8ek">
                        <div class="img-wrp">
                            <picture>
                                 <source srcset="../../build/img/preview-mob.jpg" media="(max-width: 480px)">
                                <img src="../../build/img/preview.jpg" alt="девушка">
                            </picture>
                            <div class="overlay-decor"></div>
                            <div class="overlay-color">
                                <div class="btn-play-wrp">
                                    <div class="btn-play"></div>
                                    <p>Нажмите, чтобы воспроизвести</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div>
                    <a class="video-popup" href="https://www.youtube.com/watch?v=L5s0ERQt8ek">
                        <div class="img-wrp">
                            <picture>
                                 <source srcset="../../build/img/preview-mob.jpg" media="(max-width: 480px)">
                                <img src="../../build/img/preview.jpg" alt="девушка">
                            </picture>
                            <div class="overlay-decor"></div>
                            <div class="overlay-color">
                                <div class="btn-play-wrp">
                                    <div class="btn-play"></div>
                                    <p>Нажмите, чтобы воспроизвести</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div>
                    <a class="video-popup" href="https://www.youtube.com/watch?v=L5s0ERQt8ek">
                        <div class="img-wrp">
                            <picture>
                                 <source srcset="../../build/img/preview-mob.jpg" media="(max-width: 480px)">
                                <img src="../../build/img/preview.jpg" alt="девушка">
                            </picture>
                            <div class="overlay-decor"></div>
                            <div class="overlay-color">
                                <div class="btn-play-wrp">
                                    <div class="btn-play"></div>
                                    <p>Нажмите, чтобы воспроизвести</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div>
                    <a class="video-popup" href="https://www.youtube.com/watch?v=L5s0ERQt8ek">
                        <div class="img-wrp">
                            <picture>
                                 <source srcset="../../build/img/preview-mob.jpg" media="(max-width: 480px)">
                                <img src="../../build/img/preview.jpg" alt="девушка">
                            </picture>
                            <div class="overlay-decor"></div>
                            <div class="overlay-color">
                                <div class="btn-play-wrp">
                                    <div class="btn-play"></div>
                                    <p>Нажмите, чтобы воспроизвести</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="next"></div>
        </div>
    </section>
</main>
