<div class="sectionTemplate">
    <div class="decor-top-template">
        <div class="block block-blue"></div>
        <img class="block block-photo" src="../../build/img/album-big.jpg" alt="занятие в бассейне">
        <div class="text-overlay">
            <div class="content">
                <h3>Бассейн для малышей</h3>
                <h6>Обучение малышей плаванию</h6>
            </div>
        </div>
    </div>
    <article>
        <aside>
            <div class="sidenav">
                <ul>
                    <li><a href="#section1" class="active">О секции</a></li>
                    <li><a href="#section2">Возрастные группы</a></li>
                    <li><a href="#section3">Этапы занятия</a></li>
                    <li><a href="#section4">Важная информация</a></li>
                    <li><a href="#section5">Бассейны</a></li>
                </ul>
                <div class="progress"></div>
            </div>
        </aside>
        <main>
            <div id="section1" class="article-block">
                <h2>О секции</h2>
                <p>Опытные тренеры найдут индивидуальный подход к каждому ребенку и научат детей азам плавания в игровой форме, что бы детишкам было проще и интереснее обучаться плаванию. Обучение плаванию с раннего возраста укрепляет здоровье, улучшает работу дыхательных путей, сердечно-сосудистой системы и опорно двигательного аппарата. Уроки плавания способствуют естественной закалке детей и укрепляют иммунитет, что особенно важно в Санкт-Петербурге.</p>
                <h5>Занятия для малышей проходят в игровой форме. Что это значит?</h5>
                <p>Когда детям говоришь – давайте выполним это упражнение! Для них это сложно. А когда говоришь – сейчас вы будете лягушатами а я буду совой и буду охотиться на лягушат. А что бы сова не съела лягушат, им нужно прятаться под воду. Я беру досочку и говорю – внимание, летит сова – и провожу досочкой над ними. А они прыг прыг прыг под водичку голову опускают. Дальше, я им говорю – плывет акула! Что бы ее прогнать нужно испугать ее брызгами. И они молотят ножками по воде с удвоенной силой. Есть еще дельфинчики тонущие, а дети их достают. Так они учатся нырять. Вот это называется игровая форма.</p>
            </div>
            <div id="section2" class="article-block">
                <h2>Возрастные группы</h2>
                <h5>Обучение детей плаванию проходит в двух возрастных группах:</h5>
                <ul>
                    <li><span>Младшая группа:</span> для детей от 3 до 5 лет.</li>
                    <li><span>Старшая группа: </span> для детей от 5 до 7 лет.</li>
                </ul>
                <p>Благодаря нашим опытным тренерам все занятия проходят весело и задорно и дети учатся плавать с удовольствием! Научится плавать никогда не поздно!</p>
            </div>
            <div id="section3" class="article-block">
                <h2>Этапы занятия</h2>
                <h5>Занятия разделены на 3 этапа:</h5>
                <ol>
                    <li>Разминка</li>
                    <li>Основная часть</li>
                    <li>Восстановление</li>
                </ol>
                <p>На занятии присутствует 2 тренера, один в воде другой возле бассейна. Занятие начинается со знакомства с водой и ее свойствами и инструктажем как вести себя в бассейне и не дышать водой.</p>
            </div>
            <div id="section4" class="article-block">
                <h2>Важная информация</h2>
                <mark>
                    <p>Для занятий в бассейне вам необходимо иметь при себе: медицинскую справку, купальник или плавки, шапочку, очки, обувь для бассейна, полотенце, мыло, мочалку.</p>
                    <p>Проход в бассейн: за 15 мин до начала занятий. Родители не присутствуют на занятиях. Но мы с радостью ждем вас на открытых тренировках и соревнованиях. Мы предоставляем ученикам весь необходимый спортивный инвентарь.</p>
                </mark>
            </div>
        </main>
    </article>
    <section id="section5" class="pools">
        <h4>Бассейны</h4>
        <div class="pool-buttons-wrp">
            <div class="content">
                <button class="pool-button active">
                    <p>Бассейн «СКА»</p>
                    <p>Средний пр-т, д. 87</p>
                </button>
                <button class="pool-button">
                    <p>Бассейн «К-Визит»</p>
                    <p>ул. Чистяковская, д. 2, корп. 4</p>
                </button>
                <button class="pool-button">
                    <p>Бассейн МСГ</p>
                    <p>Новоизмайловский пр-т, д. 16, к. 6</p>
                </button>
                <button class="pool-button">
                    <p>Бассейн «СКА»</p>
                    <p>Средний пр-т, д. 87</p>
                </button>
                <button class="pool-button">
                    <p>Бассейн «К-Визит»</p>
                    <p>ул. Чистяковская, д. 2, корп. 4</p>
                </button>
                <button class="pool-button">
                    <p>Бассейн МСГ</p>
                    <p>Новоизмайловский пр-т, д. 16, к. 6</p>
                </button>
            </div>
        </div>
        <div class="pool-info-container">
            <div class="content">
                <div class="table-wrp">
                    <tbody>
                        <table cellpadding="20">
                            <tr>
                                <td colspan="100">
                                    Расписание бассейна
                                </td>
                            </tr>
                            <tr>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </tbody>
                </div>
                <div class="trainers-wrp">
                    <h4>Тренера</h4>
                    <div class="trainers-blocks-wrp">
                        <a href="#" class="trainer-block">
                            <img src="../../build/img/trainer.jpg" alt="тренер">
                            <div class="trainer-block-text-wrp">
                                <div class="trainer-block-text mCustomScrollbar ">
                                    <p class="trainer-name">Чумаков Алексей Юрьевич</p>
                                    <ul class="trainer-list">
                                        <li>Участница Чемпионата России по синхронному плаванию.</li>
                                        <li>Участница 5-летней спартакиады.</li>
                                        <li>Призёр открытого чемпионата и первенства СЗФО России.</li>
                                        <li>Призер чемпионата и первенства СПБ.</li>
                                        <li>Призер первенства России по синхронному плаванию</li>
                                        <li>Участница Чемпионата России по синхронному плаванию.</li>
                                        <li>Участница 5-летней спартакиады.</li>
                                        <li>Призёр открытого чемпионата и первенства СЗФО России.</li>
                                        <li>Призер чемпионата и первенства СПБ.</li>
                                        <li>Призер первенства России по синхронному плаванию</li>
                                    </ul>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="trainer-block">
                            <img src="../../build/img/trainer.jpg" alt="тренер">
                            <div class="trainer-block-text-wrp">
                                <div class="trainer-block-text mCustomScrollbar ">
                                    <p class="trainer-name">Чумаков Алексей Юрьевич</p>
                                    <ul class="trainer-list">
                                        <li>Участница Чемпионата России по синхронному плаванию.</li>
                                        <li>Участница 5-летней спартакиады.</li>
                                        <li>Призёр открытого чемпионата и первенства СЗФО России.</li>
                                        <li>Призер чемпионата и первенства СПБ.</li>
                                        <li>Призер первенства России по синхронному плаванию</li>
                                        <li>Участница Чемпионата России по синхронному плаванию.</li>
                                        <li>Участница 5-летней спартакиады.</li>
                                        <li>Призёр открытого чемпионата и первенства СЗФО России.</li>
                                        <li>Призер чемпионата и первенства СПБ.</li>
                                        <li>Призер первенства России по синхронному плаванию</li>
                                    </ul>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="trainer-block">
                            <img src="../../build/img/trainer.jpg" alt="тренер">
                            <div class="trainer-block-text-wrp">
                                <div class="trainer-block-text mCustomScrollbar ">
                                    <p class="trainer-name">Чумаков Алексей Юрьевич</p>
                                    <ul class="trainer-list">
                                        <li>Участница Чемпионата России по синхронному плаванию.</li>
                                        <li>Участница 5-летней спартакиады.</li>
                                        <li>Призёр открытого чемпионата и первенства СЗФО России.</li>
                                        <li>Призер чемпионата и первенства СПБ.</li>
                                        <li>Призер первенства России по синхронному плаванию</li>
                                        <li>Участница Чемпионата России по синхронному плаванию.</li>
                                        <li>Участница 5-летней спартакиады.</li>
                                        <li>Призёр открытого чемпионата и первенства СЗФО России.</li>
                                        <li>Призер чемпионата и первенства СПБ.</li>
                                        <li>Призер первенства России по синхронному плаванию</li>
                                    </ul>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="trainer-block">
                            <img src="../../build/img/trainer.jpg" alt="тренер">
                            <div class="trainer-block-text-wrp">
                                <div class="trainer-block-text mCustomScrollbar ">
                                    <p class="trainer-name">Чумаков Алексей Юрьевич</p>
                                    <ul class="trainer-list">
                                        <li>Участница Чемпионата России по синхронному плаванию.</li>
                                        <li>Участница 5-летней спартакиады.</li>
                                        <li>Призёр открытого чемпионата и первенства СЗФО России.</li>
                                        <li>Призер чемпионата и первенства СПБ.</li>
                                        <li>Призер первенства России по синхронному плаванию</li>
                                        <li>Участница Чемпионата России по синхронному плаванию.</li>
                                        <li>Участница 5-летней спартакиады.</li>
                                        <li>Призёр открытого чемпионата и первенства СЗФО России.</li>
                                        <li>Призер чемпионата и первенства СПБ.</li>
                                        <li>Призер первенства России по синхронному плаванию</li>
                                    </ul>
                                </div>
                            </div>
                        </a>
                        <div class="show-all-trainers"><span>Показать всех тренеров</span></div>
                    </div>
                </div>
            </div>
            <section class="leave-request">
                <div class="content">
                    <h4 class="form-title">Оставьте заявку</h4>
                    <form action="#">
                        <div class="input-sections-wrp">
                            <div class="field">
                                <p>Как Вас зовут?</p>
                                <input class="input-sections" type="text" name="name" value="">
                            </div>
                            <div class="field">
                                <p>Ваш номер</p>
                                <input class="input-sections" type="tel" name="phone" value="">
                            </div>
                            <div class="button-checkbox-wrp button-sections-wrp">
                                <input class="button input-sections button-disabled" type="submit" name="button" value="Отправить заявку" disabled>
                                <label class="checkbox checkbox-agree">
                                    <input type="checkbox" />
                                    <div class="checkbox__text"><span>Даю согласие на обработку <a href="#">персональных данных</a></span></div>
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
            <section class="gallery-prev-section">
                <h4>Галерея бассейна</h4>
                <div class="gallery-prev-block">
                    <img src="../../build/img/album.jpg" alt="занятие в бассейне">
                    <div class="text-btn-wrp">
                        <div class="text-wrp">
                            <p class="album-name">Лягушатник СКА</p>
                            <p class="album">Альбом</p>
                        </div>
                        <a href="#" class="see-more">
                            <span>Смотреть фотографии</span>
                        </a>
                    </div>
                </div>
            </section>
        </div>
    </section>

    <section class="services">
        <div class="content">
            <h4>Другие секции</h4>
            <div class="services-wrp">
                <a href="#" class="services-block">
                    <div class="services-block-img">
                        <picture>
                             <source srcset="../../build/img/pool-mob.jpg" media="(max-width: 480px)">
                            <img src="../../build/img/pool.jpg" alt="">
                        </picture>
                    </div>
                    <div class="services-block-descr">
                        <p class="services-block-title">Бассейн</p>
                        <p class="services-block-text">Изучение техники спортивных способов плавания, постановка техники стартов и&nbsp;поворотов. Бассейны для самых маленьких, все занятия проводят опытные тренеры.</p>
                    </div>
                    <p class="show-more">
                        <span>Подробнее</span>
                    </p>
                </a>
                <a href="#" class="services-block">
                    <div class="services-block-img">
                        <picture>
                            <source srcset="../../build/img/combat-mob.jpg" media="(max-width: 480px)">
                           <img src="../../build/img/combat.jpg" alt="">
                        </picture>
                    </div>
                    <div class="services-block-descr">
                        <p class="services-block-title">Единоборство</p>
                        <p class="services-block-text">Изучение техники боевых единоборств, постановка ударной техники и защиты, участие в городских соревнованиях, проведение групповых занятий.</p>
                    </div>
                    <p class="show-more">
                        <span>Подробнее</span>
                    </p>
                </a>
                <a href="#" class="services-block">
                    <div class="services-block-img">
                        <picture>
                             <source srcset="../../build/img/dance-mob.jpg" media="(max-width: 480px)">
                            <img src="../../build/img/dance.jpg" alt="">
                        </picture>
                    </div>
                    <div class="services-block-descr">
                        <p class="services-block-title">Детские танцы</p>
                        <p class="services-block-text">Изучение техники танцевальных движений (хореография, хип-хоп, брейк-данс, художественная гимнастика, современный танец), развитие слуха, координации движений, чувства ритма.</p>
                    </div>
                    <p class="show-more">
                        <span>Подробнее</span>
                    </p>
                </a>
            </div>
        </div>
    </section>
</div>
