<section class="documents">
    <div class="content">
        <h2>Документы</h2>
        <div class="documents-wrp">
            <a href="#" class="document link-to-go">
                <span>Квитанция на оплату</span>
            </a>
            <a href="#" class="document download">
                <span>Договор публичной оферты</span>
            </a>
            <a href="#" class="document download">
                <span>Справка в школу</span>
            </a>
        </div>
    </div>
</section>
