<!-- pop-up-filters -->
<div class="pop-up-filters">
    <div class="go-back">
        <p>Фильтры</p>
    </div>
    <div class="sidebar-filter-accordian sidebar-filter-accordian-pop-up">
        <div class="sidebar-filter-block-wrp">
            <h3 class="sidebar-filter-title">Детям</h3>
            <ul class="sidebar-filter-list">
                <li>
                    <label class="checkbox catalog-filter-checkbox">
                        <input type="checkbox" />
                        <div class="checkbox__text catalog-filter-checkbox-text"><span>Головные уборы</span></div>
                    </label>
                </li>
                <li>
                    <label class="checkbox catalog-filter-checkbox">
                        <input type="checkbox" />
                        <div class="checkbox__text catalog-filter-checkbox-text"><span>Для новорожденных</span></div>
                    </label>
                </li>
                <li>
                    <label class="checkbox catalog-filter-checkbox">
                        <input type="checkbox" />
                        <div class="checkbox__text catalog-filter-checkbox-text"><span>Очки для бассейна</span></div>
                    </label>
                </li>
            </ul>
        </div>
        <div class="sidebar-filter-block-wrp">
            <h3 class="sidebar-filter-title border-filter-top">По виду спорта</h3>
            <ul class="sidebar-filter-list">
                <li>
                    <label class="checkbox catalog-filter-checkbox">
                        <input type="checkbox" />
                        <div class="checkbox__text catalog-filter-checkbox-text"><span>Плаванье</span></div>
                    </label>
                </li>
                <li>
                    <label class="checkbox catalog-filter-checkbox">
                        <input type="checkbox" />
                        <div class="checkbox__text catalog-filter-checkbox-text"><span>Танцы</span></div>
                    </label>
                </li>
                <li>
                    <label class="checkbox catalog-filter-checkbox">
                        <input type="checkbox" />
                        <div class="checkbox__text catalog-filter-checkbox-text"><span>Спортивная гимнастика</span></div>
                    </label>
                </li>
            </ul>
        </div>
    </div>

    <div class="btn-actions-wrp">
        <button class="btn-action btn-action-reset">Сбросить</button>
        <button class="btn-action btn-action-apply">Применить (1)</button>
    </div>
</div>
