<div class="pop-up-wrapper">
    <div class="pop-up-add-call">
        <h4 class="pop-up-title">Заказать звонок</h4>
        <form action="#">
            <div class="field field-pop-up-add-call">
                <p>Имя*</p>
                <input class="input-sections input-pop-up-add-call" type="text" name="name" value="">
            </div>
            <div class="field field-pop-up-add-call">
                <p>Телефон*</p>
                <input class="input-sections input-pop-up-add-call" type="tel" name="phone" value="">
            </div>
            <div class="button-checkbox-wrp button-sections-wrp">
                <label class="checkbox checkbox-agree">
                    <input type="checkbox" />
                    <div class="checkbox__text"><span>Даю согласие на обработку <a href="#">персональных данных</a></span></div>
                </label>
                <input class="button input-sections input-pop-up-add-call button-disabled" type="submit" name="button" value="Отправить заявку" disabled>
            </div>
        </form>
        <div class="pop-up-add-call-close-btn"></div>
    </div>

    <div class="pop-up-submit-app">
        <h4 class="pop-up-title">Оставить заявку</h4>
        <form action="#">
            <div class="field field-pop-up-add-call">
                <p>Имя*</p>
                <input class="input-sections input-pop-up-add-call" type="text" name="name" value="">
            </div>
            <div class="field field-pop-up-add-call">
                <p>Телефон*</p>
                <input class="input-sections input-pop-up-add-call" type="tel" name="phone" value="">
            </div>
            <div class="button-checkbox-wrp button-sections-wrp">
                <label class="checkbox checkbox-agree">
                    <input type="checkbox" />
                    <div class="checkbox__text"><span>Даю согласие на обработку <a href="#">персональных данных</a></span></div>
                </label>
                <input class="button input-sections input-pop-up-add-call button-disabled" type="submit" name="button" value="Отправить заявку" disabled>
            </div>
        </form>
        <div class="pop-up-submit-app-close-btn"></div>
    </div>

    <div class="pop-up-thnx">
        <div class="pop-up-thnx-content">
            <h4 class="pop-up-title-thnx">Cпасибо!</h4>
            <p>Заявка на обратный звонок <br>успешно отправлена. Мы свяжемся <br> с Вами в течение n минут.</p>
        </div>
        <div class="pop-up-thnx-close-btn"></div>
    </div>

    <div class="pop-up-thnx-order">
        <div class="pop-up-thnx-content">
            <h4 class="pop-up-title-thnx pop-up-title-thnx-order">Товар добавлен в&nbsp;корзину</h4>
            <button class="pop-up-thnx-order-btn continue-shopping">Продолжить покупки</button>
            <a href="/cart" class="pop-up-thnx-order-btn">Перейти в корзину</a>
        </div>
        <div class="pop-up-thnx-order-close-btn"></div>
    </div>

    <div class="pop-up-phones">
        <div class="pop-up-phones-block pop-up-phones-block1">
            <a href="https://wa.me/79112313993">+7 (911) 231 39 93</a>
            <a href="https://wa.me/79112313993" class="WhatsApp-text">WhatsApp</a>
        </div>
        <div class="pop-up-phones-block pop-up-phones-block2">
            <a href="tel:+388124099021">8 (812) 409-90-21</a>
            <p class="order-call-btn">Заказать звонок</p>
        </div>
        <div class="pop-up-phones-close-btn"></div>
    </div>

</div>
