<div class="sections-page">
    <div class="decor-top">
        <div class="content">
            <div class="text-decor-wrp">
                <h3>Наши секции</h3>
                <h6>Спортивные секции для детей любого возраста и уровня подготовки</h6>
            </div>
            <div class="img-sections-wrp">
                <div class="img-section-wrp">
                    <img src="../../build/img/section1.jpg" alt="">
                </div>
                <div class="img-section-wrp">
                    <img src="../../build/img/section2.jpg" alt="">
                </div>
                <div class="img-section-wrp">
                    <img src="../../build/img/section3.jpg" alt="">
                </div>
                <div class="img-section-wrp">
                    <img src="../../build/img/section4.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="revers">
        <section class="section-description">
            <div class="content">
                <h2>Спортивные секции в&nbsp;Санкт-Петербурге</h2>
                <mark>Спортивный клуб «ВМФ» проводит набор детей в спортивные секции, по следующим направлениям: плавание, танцы, единоборства.</mark>
                <p>В процессе занятий у детей укрепляется здоровье, прививается любовь к спорту, улучшается самочувствие, дети становятся более энергичными, учатся грамотно планировать день.</p>
                <p>Так же, на нашем сайте в разделе Магазин, вы можете приобрести всю необходимую экипировку и&nbsp;инвентарь для занятий спортом.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem </p>
                <picture>
                     <source srcset="../../build/img/sections-mob.jpg" media="(max-width: 480px)">
                    <img src="../../build/img/sections.jpg" alt="">
                </picture>
            </div>
        </section>
        <section class="services">
            <div class="content">
                <h4>Наши секции</h4>
                <div class="services-wrp">
                    <a href="#" class="services-block">
                        <div class="services-block-img">
                            <picture>
                                 <source srcset="../../build/img/pool-mob.jpg" media="(max-width: 480px)">
                                <img src="../../build/img/pool.jpg" alt="">
                            </picture>
                        </div>
                        <div class="services-block-descr">
                            <p class="services-block-title">Бассейн</p>
                            <p class="services-block-text">Изучение техники спортивных способов плавания, постановка техники стартов и&nbsp;поворотов. Бассейны для самых маленьких, все занятия проводят опытные тренеры.</p>
                        </div>
                        <p class="show-more">
                            <span>Подробнее</span>
                        </p>
                    </a>
                    <a href="#" class="services-block">
                        <div class="services-block-img">
                            <picture>
                                <source srcset="../../build/img/combat-mob.jpg" media="(max-width: 480px)">
                               <img src="../../build/img/combat.jpg" alt="">
                            </picture>
                        </div>
                        <div class="services-block-descr">
                            <p class="services-block-title">Единоборство</p>
                            <p class="services-block-text">Изучение техники боевых единоборств, постановка ударной техники и защиты, участие в городских соревнованиях, проведение групповых занятий.</p>
                        </div>
                        <p class="show-more">
                            <span>Подробнее</span>
                        </p>
                    </a>
                    <a href="#" class="services-block">
                        <div class="services-block-img">
                            <picture>
                                 <source srcset="../../build/img/dance-mob.jpg" media="(max-width: 480px)">
                                <img src="../../build/img/dance.jpg" alt="">
                            </picture>
                        </div>
                        <div class="services-block-descr">
                            <p class="services-block-title">Детские танцы</p>
                            <p class="services-block-text">Изучение техники танцевальных движений (хореография, хип-хоп, брейк-данс, художественная гимнастика, современный танец), развитие слуха, координации движений, чувства ритма.</p>
                        </div>
                        <p class="show-more">
                            <span>Подробнее</span>
                        </p>
                    </a>
                    <a href="#" class="services-block">
                        <div class="services-block-img">
                            <picture>
                                 <source srcset="../../build/img/pool-mob.jpg" media="(max-width: 480px)">
                                <img src="../../build/img/pool.jpg" alt="">
                            </picture>
                        </div>
                        <div class="services-block-descr">
                            <p class="services-block-title">Бассейн</p>
                            <p class="services-block-text">Изучение техники спортивных способов плавания, постановка техники стартов и&nbsp;поворотов. Бассейны для самых маленьких, все занятия проводят опытные тренеры.</p>
                        </div>
                        <p class="show-more">
                            <span>Подробнее</span>
                        </p>
                    </a>
                    <a href="#" class="services-block">
                        <div class="services-block-img">
                            <picture>
                                <source srcset="../../build/img/combat-mob.jpg" media="(max-width: 480px)">
                               <img src="../../build/img/combat.jpg" alt="">
                            </picture>
                        </div>
                        <div class="services-block-descr">
                            <p class="services-block-title">Единоборство</p>
                            <p class="services-block-text">Изучение техники боевых единоборств, постановка ударной техники и защиты, участие в городских соревнованиях, проведение групповых занятий.</p>
                        </div>
                        <p class="show-more">
                            <span>Подробнее</span>
                        </p>
                    </a>
                    <a href="#" class="services-block">
                        <div class="services-block-img">
                            <picture>
                                <source srcset="../../build/img/dance-mob.jpg" media="(max-width: 480px)">
                               <img src="../../build/img/dance.jpg" alt="">
                            </picture>
                        </div>
                        <div class="services-block-descr">
                            <p class="services-block-title">Детские танцы</p>
                            <p class="services-block-text">Изучение техники танцевальных движений (хореография, хип-хоп, брейк-данс, художественная гимнастика, современный танец), развитие слуха, координации движений, чувства ритма.</p>
                        </div>
                        <p class="show-more">
                            <span>Подробнее</span>
                        </p>
                    </a>
                </div>
            </div>
        </section>
    </div>
</div>
