<section class="page-404">
    <div class="content content-404">
        <div class="text-404-wrp">
            <h4 class="title-404">Опаньки, такая страница не&nbsp;найдена!</h4>
            <p class="text-404">К сожалению, мы не смогли найти страницу, которая Вам нужна. <br>Возможно, Вы неправильно вбили ссылку? В любом случае, Вы можете...</p>
            <a href="#" class="back-to-main"><span>Перейти на главную</span></a>
        </div>
        <p class="number-404">404</p>
    </div>
</section>
