<header>
    <div class="header-desctop">
        <div class="header-top">
            <div class="content">
                <a href="/" class="logo-wrp">
                    <img src="../../build/img/logo.png" alt="logo">
                    <p class="logo-text">CК «ВМФ»</p>
                </a>
                <div class="time-call-wrp">
                    <div class="time-block">
                        <p class="subtitle">Часы работы</p>
                        <p><span class="day">Пн</span> • <span class="day">Пт</span>  /  <span class="time">12:00</span> — <span class="time">21:00</span></p>
                        <p><span class="day">Сб</span> • <span class="day">Вс</span>  /  <span class="time">10:00</span> — <span class="time">18:00</span> </p>
                    </div>
                    <a href="https://wa.me/79112313993" class="whatsapp-block">
                        <p class="phone">+7 (911) 231 39 93</p>
                        <p class="whatsapp">WhatsApp</p>
                    </a>
                    <div class="call-block">
                        <p class="phone">8 (812) 409-90-21</p>
                        <p class="order-call-btn">Заказать звонок</p>
                    </div>
                </div>
            </div>
        </div>
        <nav class="header-nav-link-wrp">
            <div class="content">
                <ul class="header-nav-link">
                    <li class="drop-list">
                        <a href="">Секции</a>
                        <ul class="header-subnav-link">
                            <li class="drop-list">
                                <a href="">Бассейн</a>
                                <ul class="header-subnav-link">
                                    <li><a href="">Бассейн для малышей</a></li>
                                    <li><a href="">Спортивно-оздоровительное плавание</a></li>
                                    <li><a href="">Спортивное плавание</a></li>
                                    <li><a href="">Водное поло</a></li>
                                    <li><a href="">Синхронное плавание</a></li>
                                </ul>
                            </li>
                            <li class="drop-list">
                                <a href="">Единоборства</a>
                                <ul class="header-subnav-link">
                                    <li><a href="">Реальное айкидо</a></li>
                                    <li><a href="">Бокс</a></li>
                                    <li><a href="">Самбо</a></li>
                                    <li><a href="">Дзюдо</a></li>
                                </ul>
                            </li>
                            <li class="drop-list">
                                <a href="">Школа танцев</a>
                                <ul class="header-subnav-link">
                                    <li><a href="">Общая физическая подготовка</a></li>
                                    <li><a href="">Денс микс</a></li>
                                </ul>
                            </li>
                            <li><a href="">Спортивная гимнастика</a></li>
                        </ul>
                    </li>
                    <li class="drop-list">
                        <a href="">Лагеря</a>
                        <ul class="header-subnav-link">
                            <li><a href="">«РОСИЦА-ОБЗОР» Болгария</a></li>
                            <li><a href="">«СТАР КЛАБ» Болгария</a></li>
                            <li><a href="">«Пирита SPA» Таллин</a></li>
                            <li><a href="">Кипр</a></li>
                        </ul>
                    </li>
                    <li class="drop-list">
                        <a href="">О клубе</a>
                        <ul class="header-subnav-link">
                            <li><a href="">Наши тренеры</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">Новости</a>
                    </li>
                    <li class="drop-list">
                        <a href="">Документы</a>
                        <ul class="header-subnav-link">
                            <li><a href="">Договор оферты</a></li>
                            <li><a href="">Справка для школы</a></li>
                            <li><a href="">Квитанция на оплату</a></li>
                        </ul>
                    </li>
                    <li><a href="">Галерея клуба</a></li>
                    <li><a href="">Магазин</a></li>
                    <li><a href="">Контакты</a></li>
                </ul>
                <p class="cart-btn">Корзина <span>(25)</span></p>
            </div>
        </nav>
    </div>
    <div class="header-mobile">
        <div class="content">
            <a href="#" class="logo-mob">CК «ВМФ»</a>
            <div class="icons">
                <div class="icon-header-mob phone-mob">
                    <img src="../../build/img/phone.png" alt="мальчик">
                </div>
                <div class="icon-header-mob burger-mob-wrp">
                    <div class="burger">
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- accordian  start-->
        <div class="acc-wrp">
            <div id="accordian-menu" class="accordian">
                <h3 class="main-title"><a href="http://qaru.site/questions/7369473/jquery-ui-links-in-accordion-header-not-working">Секции</a></h3>
                    <div>
                        <ul class="inner-list">
                            <li class="sub">
                                <a href="http://qaru.site/questions/7369473/jquery-ui-links-in-accordion-header-not-working" class="main-title">Бассейн</a>
                                <ul>
                                  <li><a href="#">Бассейн-1</a></li>
                                  <li><a href="#">Бассейн-2</a></li>
                                  <li><a href="#">Бассейн-3</a></li>
                                </ul>
                            </li>
                             <li class="sub">
                                 <a href="http://qaru.site/questions/7369473/jquery-ui-links-in-accordion-header-not-working" class="main-title">Единоборства</a>
                               <ul>
                                 <li><a href="#">Ссылка 1-1</a></li>
                                 <li><a href="#">Ссылка 1-2</a></li>
                                 <li><a href="#">Ссылка 1-3</a></li>
                               </ul>
                             </li>
                             <li class="sub"><a href="http://xn--80abg7bml1dg.xn--p1ai/" class="main-title">Школа танцев</a>
                               <ul>
                                 <li><a href="#">Общая физическая подготовка</a></li>
                                 <li><a href="#">Денс микс</a></li>
                               </ul>
                             </li>
                        </ul>
                    </div>
                <h3 class="main-title"><a href="#">Лагеря</a></h3>
                    <div>
                        <ul class="inner-list">
                            <li class="sub">
                                <a href="http://qaru.site/questions/7369473/jquery-ui-links-in-accordion-header-not-working" class="main-title">Бассейн</a>
                                <ul>
                                  <li><a href="#">Бассейн-1</a></li>
                                  <li><a href="#">Бассейн-2</a></li>
                                  <li><a href="#">Бассейн-3</a></li>
                                </ul>
                            </li>
                             <li class="sub">
                                 <a href="http://qaru.site/questions/7369473/jquery-ui-links-in-accordion-header-not-working" class="main-title">Единоборства</a>
                               <ul>
                                 <li><a href="#">Ссылка 1-1</a></li>
                                 <li><a href="#">Ссылка 1-2</a></li>
                                 <li><a href="#">Ссылка 1-3</a></li>
                               </ul>
                             </li>
                             <li class="sub"><a href="http://xn--80abg7bml1dg.xn--p1ai/" class="main-title">Школа танцев</a>
                               <ul>
                                 <li><a href="#">Общая физическая подготовка</a></li>
                                 <li><a href="#">Денс микс</a></li>
                               </ul>
                             </li>
                        </ul>
                    </div>
                <h3 class="main-title"><a href="#">О клубе</a></h3>
                    <div>
                        <ul class="inner-list">
                            <li class="sub">
                                <a href="http://qaru.site/questions/7369473/jquery-ui-links-in-accordion-header-not-working" class="main-title">Бассейн</a>
                                <ul>
                                  <li><a href="#">Бассейн-1</a></li>
                                  <li><a href="#">Бассейн-2</a></li>
                                  <li><a href="#">Бассейн-3</a></li>
                                </ul>
                            </li>
                             <li class="sub">
                                 <a href="http://qaru.site/questions/7369473/jquery-ui-links-in-accordion-header-not-working" class="main-title">Единоборства</a>
                               <ul>
                                 <li><a href="#">Ссылка 1-2</a></li>
                                 <li><a href="#">Ссылка 1-3</a></li>
                               </ul>
                             </li>
                             <li class="sub"><a href="http://xn--80abg7bml1dg.xn--p1ai/" class="main-title">Школа танцев</a>
                               <ul>
                                 <li><a href="#">Общая физическая подготовка</a></li>
                                 <li><a href="#">Денс микс</a></li>
                               </ul>
                             </li>
                        </ul>
                    </div>
                <h3><a href="#">Новости</a></h3>
            </div>
        </div>
        <!-- accordian end     ------------------------>

    </div>
    <div class="content content-breadcrumps">
        <ul class="breadcrumps breadcrumps-gray">
            <li><a href="#">Главная</a></li>
            <li><a href="#">Секции</a></li>
        </ul>
    </div>
</header>
<p class="cart-btn-mob"><span>Корзина (25)</span></p>
