<section class="contacts">
    <div class="background">
        <p class="h3">Наши контакты</p>
        <p class="sub-h3">Вы можете позвонить нам сами или заказать обратный звонок и мы свяжемся с вами в удобное для
            вас время</p>
    </div>
    <div class="content">
        <div class="contents-contacts-wrp">
            <div class="content-1">
                <div class="block">
                    <p class="h5">Адрес главного офиса:</p>
                    <p class="text">Россия, г. Санкт-Петербург, Новоизмайловский проспект, д. 16, к. 6</p>
                </div>
                <div class="block">
                    <p class="h5">Телефон:</p>
                    <p class="text"><span class="sub-h5 sub-h5-phone">Администрация:</span><span class="sub-h5-phone"> +7 (931) 968-34-32 /</span><span
                            class="sub-h5-phone"> +7 (906) 274-30-28</span></p>
                    <p class="text"><span class="sub-h5 sub-h5-phone">Дирекция:</span> +7 (981) 773-22-26</p>
                </div>
                <div class="block">
                    <p class="h5">Режим работы:</p>
                    <p class="text"><span class="sub-h5">Пн • Пт:</span> 12:00 — 21:00</p>
                    <p class="text"><span class="sub-h5">Сб:</span> 10:00 — 18:00</p>
                    <p class="text"><span class="sub-h5">Вс:</span> только прием звонков</p>
                </div>
                <div class="block">
                    <p class="h5 mail">E-mail:</p>
                    <p class="text"><span class="sub-h5 mail">support@sk-vmf.ru</span></p>
                </div>
            </div>
            <div class="content-2">
                <p class="h4">Заказать звонок</p>
                <form>
                    <fieldset>
                        <legend>Имя*</legend>
                        <input type="text"
                               name="pop-up-name"
                               id="pop-up-name"
                               data-input="text"
                               class="error required"/>

                        <label for="pop-up-name"></label>
                    </fieldset>
                    <fieldset>
                        <legend>Телефон*</legend>
                        <input type="text"
                               name="pop-up-phone"
                               id="pop-up-phone"
                               data-input="phone"
                               class="error required"/>

                        <label for="pop-up-phone"></label>
                    </fieldset>
                    <fieldset>
                        <input type="checkbox"
                               name="pop-up-agree"
                               id="pop-up-agree"
                               data-input="checkbox"
                               value="agree"
                               class="error required"/>
                        <label for="pop-up-agree">Даю согласие на обработку <a href="#">персональных данных</a></label>
                    </fieldset>
                    <fieldset>
                        <input type="submit">
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="map-block">
            <p class="h4">Наши адреса</p>
            <ul class="tabs-menu-list">
                <li data-index="1" class="tabs-menu-item active"><span>Бассейны</span></li>
                <li data-index="2" class="tabs-menu-item"><span>Спортивные залы</span></li>
                <li data-index="3" class="tabs-menu-item"><span>Школы танцев</span></li>
                <!--<li data-index="4" class="tabs-menu-item"><span>Бассейны-2</span></li>-->
                <!--<li data-index="5" class="tabs-menu-item"><span>Бассейны-3</span></li>-->
                <!--<li data-index="6" class="tabs-menu-item"><span>Бассейны-4</span></li>-->
            </ul>
            <ul class="tabs-content-list">
                <li class="tabs-content-item active">
                    <div id="YMapsID" class="map-wrapper">

                    </div>
                    <span class="map-address">
                        <span class="address-block">
                            <span class="h6">Басейн «СКА»</span>
                            <span class="text">Средний проспект, д. 87</span>
                        </span>
                        <span class="address-block">
                            <span class="h6">Бассейн «К-Визит»</span>
                            <span class="text">ул. Чистяковская д. 2 корп. 4</span>
                        </span>
                        <span class="address-block">
                            <span class="h6">Бассейн МСГ</span>
                            <span class="text">Новоизмайловский проспект, д. 16, к. 6</span>
                        </span>
                        <span class="address-block">
                            <span class="h6">Бассейн «Политех»</span>
                            <span class="text">ул. Политехническая, д. 27</span>
                        </span>
                        <span class="address-block">
                            <span class="h6">Бассейн «Экран»</span>
                            <span class="text">ул. Шателена, д. 3</span>
                        </span>
                        <span class="address-block">
                            <span class="h6">Бассейн школы № 305</span>
                            <span class="text">ул. Будапештская, д. 8, корп. 3, лит. А</span>
                        </span>
                        <span class="address-block">
                            <span class="h6">Бассейн школы № 270</span>
                            <span class="text">ул. Освобождения, д. 29, корп. 3</span>
                        </span>
                        <span class="address-block">
                            <span class="h6">Бассейн-8</span>
                            <span class="text">Адрес-8</span>
                        </span>
                        <span class="address-block">
                            <span class="h6">Бассейн-9</span>
                            <span class="text">Адрес-9</span>
                        </span>
                        <span class="address-block">
                            <span class="h6">Бассейн-10</span>
                            <span class="text">Адрес-10</span>
                        </span>
                    </span>
                </li>
                <li class="tabs-content-item"></li>
                <li class="tabs-content-item"></li>
                <li class="tabs-content-item"></li>
                <li class="tabs-content-item"></li>
                <li class="tabs-content-item"></li>
            </ul>
        </div>
    </div>

</section>
