<div class="campTemplate">
    <div class="btn-aside-fixed">Оставить заявку</div>
    <div class="decor-top-template">
        <div class="block block-blue"></div>
        <img class="block block-photo" src="../../build/img/campTemplate.jpg" alt="пляж в Болгарии">
        <div class="text-overlay">
            <div class="content">
                <h3>«Росица-Обзор», Болгария</h3>
                <h6>Международный детско-юношеский спортивный лагерь</h6>
            </div>
        </div>
    </div>
    <article>
        <aside>
            <div class="sidenav">
                <ul>
                    <li><a href="#camp1" class="active">Размещение</a></li>
                    <li><a href="#camp2">Спорт и развлечения</a></li>
                    <li><a href="#camp3">Питание</a></li>
                    <li><a href="#camp4">Пляж</a></li>
                    <li><a href="#camp5">Стоимость</a></li>
                    <li><a href="#camp6">Смены</a></li>
                </ul>
                <div class="progress"></div>
            </div>
        </aside>
        <main>
            <div id="camp1" class="article-block">
                <h2>Размещение</h2>
                <p>Лагерь «Росица-Обзор» находится в 2 км от центра курортного городка Обзор и в 65 км от Варны, в спокойном месте всего в 150 метрах от песчаного пляжа. Территория комплекса огорожена и находиться под охраной (охранная система с видеокамерами 24 часа). Размещение детей осуществляется в 4-х корпусах, общей вместимостью 500 человек. Номера до 4-х человек, полностью меблированные с индивидуальным санузлом.</p>
                <h5>В номерах:</h5>
                <p>Индивидуальные кровати, прикроватные тумбочки, шкаф для одежды, зеркало, балкон (часть номеров без балкона), санузел с душем, умывальник, кондиционер (не во всех номерах). Уборка комнат и смена постельного белья (по графику).</p>
                <img src="../../build/img/campTemplateImg.jpg" alt="территория лагеря">
                <h5>На территории:</h5>
                <ul>
                    <li>медицинский пункт;</li>
                    <li>пункт обмена валюты;</li>
                    <li>русскоговорящие администраторы;</li>
                    <li>на группу предоставляется 1 б/п сейф;</li>
                    <li>wi-fi (на рецепции – бесплатно);</li>
                    <li>экскурсионное бюро.</li>
                </ul>
                <h5>Размещение родителей:</h5>
                <p>На территории лагеря могут проживать дети и руководители. Вниманию родителей мы предлагаем широкий выбор отелей любой категории и апартаментов в курорте Обзор (начиная с частного сектора, заканчивая прекрасными отелями 4*).</p>
            </div>
            <div id="camp2" class="article-block">
                <h2>Спорт и развлечения</h2>
                <h5>Спортивным группам:</h5>
                <ul>
                    <li><span>Футбольное поле</span> (40х20 м, искусственная трава): футбол, гандбол;</li>
                    <li><span>Спортивный плавательный бассейн</span> с 4 дорожками (25х12 м, глубина 1.3-1.9 м): плавание, синхронное плавание, водное поло;</li>
                    <li><span>Многофункциональная площадка:</span> баскетбол, волейбол;</li>
                    <li><span>Спортзал:</span> борьба, тхэквондо, айкидо;</li>
                    <li><span>Танцевальный зал</span> с зеркалами, с паркетным покрытием (9х18, высота 4.20 м) кондиционером и хореографическими станками: гимнастика, танцы;</li>
                    <li>Турники;</li>
                    <li>Бильярд, настольный теннис;</li>
                    <li>Помещение для занятий и кружков.</li>
                </ul>
            </div>
            <div id="camp3" class="article-block">
                <h2>Питание (шведский стол):</h2>
                <p>Питание детей осуществляется в основном ресторане (по расписанию).</p>
                <ul>
                    <li><span>Завтрак</span> (08:00 — 10:00): шведский стол, горячие напитки (кофе, какао, чай), минеральная вода и соки;</li>
                    <li><span>Обед</span> (12:00-14:00) – салаты, горячие и холодные закуски, супы, основные мясные и постные блюда, гарниры, фрукты, десерты, напитки (чай, фруктовые напитки, вода);</li>
                    <li><span>Полдник</span>  (16:00-17:00) — выпечка или пицца (чай, фруктовые напитки, вода);</li>
                    <li><span>Ужин</span> (18:00-20:30) – салаты, основные мясные и постные блюда, гарниры, запеченное мясо, фрукты, десерты, напитки (чай, фруктовые напитки, вода);</li>
                    <li><span>Танцевальный зал</span> с зеркалами, с паркетным покрытием (9х18, высота 4.20 м) кондиционером и хореографическими станками: гимнастика, танцы;</li>
                    <li>Кулеры с холодной и горячей водой.</li>
                </ul>
            </div>
            <div id="camp4" class="article-block">
                <h2>Пляж</h2>
                <p>Территория лагеря всего в 150 метрах от пляжа. В этой части Обзора – один из самых красивых пляжей Болгарии: чистое море, золотистый песок, пологий вход в море. Пляж оборудован зонтиками, работает спасательная служба (с 08:00 до 14:00 и с 16:00 до 18:00), есть прокат лодок и водных велосипедов. Есть возможность для проведения спортивных игр – пляжного волейбола и футбола.</p>
            </div>
            <div id="camp5" class="article-block">
                <h2>Стоимость</h2>
                <mark>Цена смены в лагере 21 день, Болгария город Солнечный берёг — 1150 евро. При условии раннего бронирования, предоплата до 1 февраля 300 евро.</mark>
                <p>В цену все включено:</p>
                <ul>
                    <li>перелёт;</li>
                    <li>тренировки;</li>
                    <li>виза болгарская (для детей до 16 лет);</li>
                    <li>страховка;</li>
                    <li>трансфер;</li>
                    <li>питание 4-х разовое (шведский стол);</li>
                    <li>проживание;</li>
                    <li>анимация;</li>
                    <li>врач (берём из России дополнительно своего).</li>
                </ul>
                <p><span>Для тех кто не успевает оформить ранее бронирование до 1 февраля, цена увеличивается на 100 евро.</span></p>
            </div>
            <div id="camp6" class="article-block">
                <h2>Смены</h2>
                <mark>
                    <p>Первая смена: с 14.06.19 по 05.07.19</p>
                    <p>Вторая смена: с 05.07.19 по 26.07.19</p>
                    <p>Третья смена: с 26.07.19 по 16.08.19</p>
                </mark>
            </div>
        </main>
    </article>
    <section class="gallery">
        <div class="content">
            <h4>Галерея</h4>
            <div class="gallery-wrp">
                <div class="gallery-img-wrp">
                    <a href="#"><img src="../../build/img/gallery1.jpg" alt=""></a>
                </div>
                <div class="gallery-img-wrp">
                    <a href="#"><img src="../../build/img/gallery2.jpg" alt=""></a>
                </div>
                <div class="gallery-img-wrp">
                    <a href="#"><img src="../../build/img/gallery3.jpg" alt=""></a>
                </div>
                <div class="gallery-img-wrp">
                    <a href="#"><img src="../../build/img/gallery1.jpg" alt=""></a>
                </div>
                <div class="gallery-img-wrp">
                    <a href="#"><img src="../../build/img/gallery2.jpg" alt=""></a>
                </div>
                <div class="gallery-img-wrp">
                    <a href="#"><img src="../../build/img/gallery3.jpg" alt=""></a>
                </div>
                <div class="gallery-img-wrp">
                    <a href="#"><img src="../../build/img/gallery1.jpg" alt=""></a>
                </div>
                <div class="gallery-img-wrp">
                    <a href="#"><img src="../../build/img/gallery2.jpg" alt=""></a>
                </div>
                <div class="gallery-img-wrp">
                    <a href="#"><img src="../../build/img/gallery3.jpg" alt=""></a>
                </div>
            </div>
            <div class="load-more"><span>Показать еще фотографии</span></div>
        </div>
    </section>
    <section class="services">
        <div class="content">
            <h4>Похожие услуги</h4>
            <div class="services-wrp">
                <a href="#" class="services-block">
                    <div class="services-block-img">
                        <picture>
                             <source srcset="../../build/img/camp2-mob.jpg" media="(max-width: 480px)">
                            <img src="../../build/img/camps2.jpg" alt="">
                        </picture>
                    </div>
                    <div class="services-block-descr">
                        <p class="services-block-title">«Star Club», Болгария</p>
                        <p class="services-block-text">Лагерь «Star Club» расположен в южной части курорта Солнечный Берег, в 350-450 метра от моря. В лагере 4 корпуса: «Центральный», «Си Грейс», «Сани Вью», «Аква Блю».</p>
                    </div>
                    <p class="show-more">
                        <span>Подробнее</span>
                    </p>
                </a>
                <a href="#" class="services-block">
                    <div class="services-block-img">
                        <picture>
                            <source srcset="../../build/img/camp3-mob.jpg" media="(max-width: 480px)">
                           <img src="../../build/img/camps3.jpg" alt="">
                        </picture>
                    </div>
                    <div class="services-block-descr">
                        <p class="services-block-title">СПА-Отель, Эстония</p>
                        <p class="services-block-text">Гостиница Pirita Spa Hotel является самым крупным спа-комплексом Эстонии, который предлагает широкий спектр лечебных и оздоровительных процедур.</p>
                    </div>
                    <p class="show-more">
                        <span>Подробнее</span>
                    </p>
                </a>
                <a href="#" class="services-block">
                    <div class="services-block-img">
                        <picture>
                            <source srcset="../../build/img/camp4-mob.jpg" media="(max-width: 480px)">
                           <img src="../../build/img/camps4.jpg" alt="">
                        </picture>
                    </div>
                    <div class="services-block-descr">
                        <p class="services-block-title">«Beach Club», Кипр</p>
                        <p class="services-block-text">«BEACH CLUB» является одним из лучших пляжей не только Фамагусты, но и всего Северного Кипра. Летний лагерь уникален и наполнен разнообразием и насыщенностью.</p>
                    </div>
                    <p class="show-more">
                        <span>Подробнее</span>
                    </p>
                </a>
            </div>
        </div>
    </section>
</div>
