<section class="trainers">
    <div class="decor-top-img">
        <h3>Тренерский состав спортивного клуба «ВМФ»</h3>
        <h6>Команда высококвалифицированных специалистов</h6>
    </div>
    <div class="content">
        <div class="trainer-buttons-wrp">
            <button class="trainer-button active">
                <p>Все тренера</p>
            </button>
            <button class="trainer-button">
                <p>Синхронное плавание</p>
            </button>
            <button class="trainer-button">
                <p>Бокс</p>
            </button>
            <button class="trainer-button">
                <p>Самбо</p>
            </button>
            <button class="trainer-button">
                <p>Дзюдо</p>
            </button>
            <button class="trainer-button">
                <p>Айкидо</p>
            </button>
        </div>
        <div class="trainers-blocks-wrp">
            <a href="#" class="trainer-block">
                <img src="../../build/img/trainer.jpg" alt="тренер">
                <div class="trainer-block-text-wrp">
                    <div class="trainer-block-text mCustomScrollbar ">
                        <p class="trainer-name">Чумаков Алексей Юрьевич</p>
                        <p>Участница Чемпионата России</p>
                        <ul class="trainer-list">
                            <li>Участница Чемпионата России по синхронному плаванию.</li>
                            <li>Участница 5-летней спартакиады.</li>
                            <li>Призёр открытого чемпионата и первенства СЗФО России.</li>
                            <li>Призер чемпионата и первенства СПБ.</li>
                            <li>Призер первенства России по синхронному плаванию</li>
                            <li>Участница Чемпионата России по синхронному плаванию.</li>
                            <li>Участница 5-летней спартакиады.</li>
                            <li>Призёр открытого чемпионата и первенства СЗФО России.</li>
                            <li>Призер чемпионата и первенства СПБ.</li>
                            <li>Призер первенства России по синхронному плаванию</li>
                        </ul>
                    </div>
                </div>
            </a>
            <a href="#" class="trainer-block">
                <img src="../../build/img/trainer.jpg" alt="тренер">
                <div class="trainer-block-text-wrp">
                    <div class="trainer-block-text mCustomScrollbar ">
                        <p class="trainer-name">Чумаков Алексей Юрьевич</p>
                        <ul class="trainer-list">
                            <li>Участница Чемпионата России по синхронному плаванию.</li>
                            <li>Участница 5-летней спартакиады.</li>
                            <li>Призёр открытого чемпионата и первенства СЗФО России.</li>
                            <li>Призер чемпионата и первенства СПБ.</li>
                            <li>Призер первенства России по синхронному плаванию</li>
                            <li>Участница Чемпионата России по синхронному плаванию.</li>
                            <li>Участница 5-летней спартакиады.</li>
                            <li>Призёр открытого чемпионата и первенства СЗФО России.</li>
                            <li>Призер чемпионата и первенства СПБ.</li>
                            <li>Призер первенства России по синхронному плаванию</li>
                        </ul>
                    </div>
                </div>
            </a>
            <a href="#" class="trainer-block">
                <img src="../../build/img/trainer.jpg" alt="тренер">
                <div class="trainer-block-text-wrp">
                    <div class="trainer-block-text mCustomScrollbar ">
                        <p class="trainer-name">Чумаков Алексей Юрьевич</p>
                        <ul class="trainer-list">
                            <li>Участница Чемпионата России по синхронному плаванию.</li>
                            <li>Участница 5-летней спартакиады.</li>
                            <li>Призёр открытого чемпионата и первенства СЗФО России.</li>
                            <li>Призер чемпионата и первенства СПБ.</li>
                            <li>Призер первенства России по синхронному плаванию</li>
                            <li>Участница Чемпионата России по синхронному плаванию.</li>
                            <li>Участница 5-летней спартакиады.</li>
                            <li>Призёр открытого чемпионата и первенства СЗФО России.</li>
                            <li>Призер чемпионата и первенства СПБ.</li>
                            <li>Призер первенства России по синхронному плаванию</li>
                        </ul>
                    </div>
                </div>
            </a>
            <a href="#" class="trainer-block">
                <img src="../../build/img/trainer.jpg" alt="тренер">
                <div class="trainer-block-text-wrp">
                    <div class="trainer-block-text mCustomScrollbar ">
                        <p class="trainer-name">Чумаков Алексей Юрьевич</p>
                        <ul class="trainer-list">
                            <li>Участница Чемпионата России по синхронному плаванию.</li>
                            <li>Участница 5-летней спартакиады.</li>
                            <li>Призёр открытого чемпионата и первенства СЗФО России.</li>
                            <li>Призер чемпионата и первенства СПБ.</li>
                            <li>Призер первенства России по синхронному плаванию</li>
                            <li>Участница Чемпионата России по синхронному плаванию.</li>
                            <li>Участница 5-летней спартакиады.</li>
                            <li>Призёр открытого чемпионата и первенства СЗФО России.</li>
                            <li>Призер чемпионата и первенства СПБ.</li>
                            <li>Призер первенства России по синхронному плаванию</li>
                        </ul>
                    </div>
                </div>
            </a>
            <div class="show-all-trainers"><span>Показать всех тренеров</span></div>
        </div>
    </div>
</section>
